PORT=3000
DATABASE_URL=postgresql://nserwin@localhost:5432/rpgdb
JWT_SECRET=secret
CLIENT_URL=http://localhost:5173

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-specific-password
SMTP_SECURE=false